{
  "extends": "standard",
  "globals": {
    "fetch": true,
    "describe": true,
    "it": true,
    "expect": true,
    "jest": true
  },
  "rules": {
    "semi": [2, "always"],
    "space-before-function-paren": 0,
    "comma-dangle": [2, "always-multiline"]
  }
}
