{
  "extends": ["standard", "prettier"],
  "plugins": ["prettier"],
  "globals": {
    "fetch": true,
    "describe": true,
    "it": true,
    "expect": true,
    "jest": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "comma-dangle": [2, "always-multiline"],
    "prettier/prettier": "error"
  }
}
